@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\000037}}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\0000311}}
pre {
  white-space: pre-wrap; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\0000316}}
.go-alerts {
  margin: 20px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\0000321}}
input.ng-invalid.ng-dirty {
  border-color: #A94442;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\0000326}}
input.ng-valid.ng-dirty {
  border-color: #3C763D;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\0000333}}
.go-loadmask {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100000;
  vertical-align: middle;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\0000343}}
  .go-loadmask .go-loadmask-msg {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 30px;
    margin-left: -50px;
    margin-top: -15px;
    line-height: 30px;
    border: 1px solid #DDDDDD;
    background: white;
    z-index: 100001;
    color: #333333; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\0000362}}
  .go-loadmask .go-loadmask-screen {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100000;
    background-color: #f1f1f1;
    opacity: 0.5;
    border-radius: 4px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\0000377}}
.go-rotate {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\0000389}}
.go-login-window {
  width: 300px;
  margin: auto;
  padding: 20px;
  background-color: white;
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\0000397}}
  .go-login-window .body {
    margin: 20px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003101}}
  .go-login-window header {
    font-size: 2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003105}}
  .go-login-window footer {
    text-align: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003110}}
textarea.form-control {
  height: 200px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003117}}
#logo {
  text-align: center;
  margin-top: 4px;
  margin-right: 6px;
  float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003122}}
  #logo .orange {
    font-size: 3px;
    height: 7em;
    width: 7em;
    border-radius: 1.5em;
    background-color: white;
    border: 0.4em solid #f8971d;
    line-height: 0;
    padding: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003133}}
  #logo .spacer {
    margin: 0.8em auto;
    width: 4.4em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003137}}
  #logo .green {
    background-color: #78a22e;
    float: left;
    height: 1em;
    border-radius: 0.4em;
    margin: 0.6em 0.2em 0;
    width: 1em;
    padding: 0;
    /*opacity: 0.8;*/ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003148}}
  #logo .blue {
    background-color: #009ac7;
    float: left;
    height: 2.4em;
    border-radius: 0.4em;
    margin: 0.2em;
    width: 1em;
    padding: 0;
    /*opacity: 0.8;*/ }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003163}}
.go-header {
  height: 30px;
  padding: 0px 0px 0px 14px;
  background: #009CC5;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003172}}
  .go-header a {
    font-size: 16px;
    line-height: 30px;
    color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003178}}
  .go-header h1 {
    margin: 0px;
    padding: 0px;
    color: white;
    line-height: 30px;
    font-size: 16px;
    float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003188}}
.go-header-left {
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003192}}
.go-header-right {
  float: right;
  padding-right: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003198}}
.go-start-screen {
  margin-top: 30px;
  padding: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003201}}
  .go-start-screen ul {
    list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003203}}
    .go-start-screen ul li {
      float: left;
      font-size: 16px;
      color: #333333;
      text-align: center;
      padding: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003210}}
      .go-start-screen ul li a {
        color: #333333; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003214}}
      .go-start-screen ul li a:hover {
        text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003218}}
      .go-start-screen ul li i {
        font-size: 48px;
        display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003231}}
.go-list-wrap-fixed {
  position: fixed;
  top: 30px;
  right: 0px;
  left: 0px;
  bottom: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003239}}
.go-list {
  border: 0px;
  overflow: auto;
  position: absolute;
  top: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003251}}
.go-list-date {
  float: right;
  color: #777777;
  font-style: italic; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003257}}
.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003262}}
.list-group-item:last-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003267}}
.go-list-item-loading {
  border: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003272}}
.go-content {
  display: none;
  padding: 10px;
  margin-top: 80px;
  /* Top + detail toolbar toolbar on top */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003276}}
  .go-content h1 {
    margin-top: 0px;
    color: #333333;
    font-size: 18px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003283}}
.go-content.active {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003287}}
.go-list-wrap.inactive {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003296}}
.go-toolbar div.go-toolbar-container {
  list-style: none outside none;
  top: 30px;
  left: 0px;
  right: 0px;
  padding: 8px;
  height: 50px;
  position: fixed;
  background-color: #F8F8F8;
  border-bottom: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003311}}
.go-toolbar-title {
  font-size: 18px;
  margin-left: 14px;
  margin-top: 12px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003317}}
.go-list-toolbar {
  position: absolute;
  height: 50px;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #F8F8F8;
  border-bottom: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  z-index: 1030; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003331}}
.go-list-toolbar ul, .go-toolbar ul {
  list-style: none outside none;
  padding-left: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003336}}
.go-toolbar-left {
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003340}}
.go-toolbar-right {
  float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003344}}
.go-toolbar ul > li, .go-list-toolbar > ul > li {
  float: left;
  /*	line-height: 20px;	*/
  vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003350}}
.go-toolbar ul > li {
  padding-right: 6px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003354}}
.go-list-toolbar > ul > li > a {
  color: #333333;
  padding: 15px 10px;
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003360}}
.go-list-toolbar .input-group {
  padding: 8px 10px;
  float: left;
  width: 240px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003366}}
.go-list-toolbar {
  float: right !important; }

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 40em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003378}}
  .go-content {
    display: block;
    margin-left: 400px;
    padding-left: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003384}}
  .go-list-wrap {
    width: 400px;
    right: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003389}}
  .go-list-fullscreen {
    right: 0px;
    width: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003394}}
  .go-list-wrap.inactive {
    display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003398}}
  .go-toolbar div.go-toolbar-container {
    left: 400px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003403}}
  .go-list-fullscreen .go-toolbar div.go-toolbar-container {
    left: 0px; } }
/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large-sized devices, we want to customize some
 * of the mobile styles.
 */
/* Original Bootstrap's CSS depends on empty href attributes to style cursors
for several components (pagination, tabs etc.). But in AngularJS adding empty 
href attributes to link tags will cause unwanted route changes. This is why we 
need to remove empty href attributes from directive templates and as a result 
styling is not applied correctly. The remedy is simple, just add the following 
styling to your application:
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003432}}
.go-toolbar a, .go-list-toolbar a, .nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

/* modals */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003438}}
.go-modal-alert .glyphicon {
  font-size: 32px;
  vertical-align: middle;
  margin-right: 6px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003443}}
.go-modal-alert .modal-footer {
  margin-top: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003449}}
.go-side-nav {
  position: fixed;
  top: 30px;
  bottom: 0px;
  left: -400px;
  width: 400px;
  background-color: #F8F8F8;
  border-right: 1px solid #E7E7E7;
  z-index: 2000;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  transition: all .25s ease-out; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/angular-groupoffice\/app\/scss\/app\.scss}line{font-family:\00003470}}
.go-side-nav.active {
  left: 0px; }
