.em-list-icons {
  float: right;
  padding-right: 5px; }

.em-list .seen {
  background-color: #f1f1f1; }

.em-list .list-group-item {
  padding-left: 40px; }
.em-list .unseen-icon {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #009CC5;
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -5px; }

.em-headers .em-header {
  border-bottom: 1px solid #E7E7E7;
  padding: 8px 0; }
.em-headers h1 {
  color: black;
  font-size: 1.5em; }

.em-attachments {
  padding-bottom: 8px;
  border-bottom: 1px solid #E7E7E7;
  margin-bottom: 10px; }
  .em-attachments a {
    display: block;
    float: left;
    border: 1px solid #E7E7E7;
    background-color: #f1f1f1;
    padding: 8px;
    border-radius: 4px;
    margin-right: 8px; }
