<h1>Editing user {{model.username}}</h1>

<form novalidate ng-submit="update(model)">	
	
	<div class="form-group">
    <label for="username">Username</label>
		<input type="text" id="username" class="form-control" ng-model="model.username" required="true">
	</div>
	
	<div class="form-group">
    <label for="email">Email address</label>
		<input type="email" id="email" class="form-control" ng-model="model.email" required="true">
	</div>
	

<!--	<button ng-click="cancel()" class="btn btn-default">Cancel</button>-->
	<a href="#/apps/users" class="btn btn-default">Cancel</a>
	<input type="submit" class="btn btn-primary" value="OK"/>	
	
	
	<a class="btn btn-danger" style="float:right;" ng-click="delete(model, model.username)"">
		<span class="glyphicon glyphicon-trash"></span>
		Delete
	</a>
</form>