
<div ng-include="'partials/header.html'"></div>


<!-- The detail and edit pane is loaded in this view -->
<div class="go-content" ng-class="{active:noteActive()}">
	<div ui-view></div>
</div>


<!-- Start of list panel with toolbar -->
<div ng-class="{inactive:noteActive()}" class="go-list-wrap">

	<div class="go-list-toolbar">
		<ul class="go-toolbar-left">
			<li>
				<div class="input-group">
					<input type="text" class="form-control" ng-keypress="store.searchListener($event)" ng-model="store.query" placeholder="Search..." />

					<div class="input-group-btn">

						<button class="btn btn-default" ng-click="store.resetSearch();"><i class="glyphicon glyphicon-remove"></i></button>
						<button class="btn btn-default" ng-click="store.reload();"><i class="glyphicon glyphicon-search"></i></button>
					</div>
				</div>
			</li>
		</ul>
		<ul class="go-toolbar-right">
			<li>
				<a ui-sref="notes.edit({noteId: 0})">
					<span class="glyphicon glyphicon-plus"></span>
				</a>

			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i></a>
				<ul class="dropdown-menu dropdown-menu-right">
					<li><a ui-sref="categories">Enabled categories</a></li>            
					<!--<li><a ng-click="store.multiselect();TODO">Enable checkboxes</a></li>-->
				</ul>
			</li>
		</ul>

	</div>

	<div  class="go-list list-group" go-infinite-scroll="store.nextPage()" go-infinite-scroll-disabled="!store.shouldLoad()">

		<a ui-sref="notes.detail({noteId: note.id})" class="list-group-item" ng-repeat="note in store.items">				
			<span class="go-list-date">{{note.mtime * 1000| date:'short'}}</span>
			<h4 class="list-group-item-heading">{{note.name}}</h4>

			<p class="list-group-item-text">
				<i ng-if="note.encrypted" class="fa fa-lock" style="margin-right:10px;"></i>{{note.excerpt}}
			</p>
		</a>
	</div>


</div>