

	<div ng-show="hideTable()" style="padding-top:70px;">
		<!-- Fixed navbar -->
		<div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavBarCtrl">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" ng-click="toggle()">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<span class="navbar-brand">Notes</span>
				</div>
				<div class="navbar-collapse collapse" collapse="isCollapsed">
					<ul class="nav navbar-nav">
						
						<li>
							<form class="navbar-form" role="search">
								<div class="input-group">
									<input type="search" class="form-control" ng-keypress="remoteList.search($event)" ng-model="remoteList.query" placeholder="Search..." />

									<div class="input-group-btn">
										
										<button class="btn btn-default" ng-click="remoteList.resetSearch();"><i class="glyphicon glyphicon-remove"></i></button>
										<button class="btn btn-default" ng-click="remoteList.reload();"><i class="glyphicon glyphicon-search"></i></button>
									</div>
								</div>
							</form>							
						</li>

					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a ui-sref="notes.detail()">
								<span class="glyphicon glyphicon-plus"></span>
							</a>
						</li>
						<li class="dropdown">
							
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i></a>
                <ul class="dropdown-menu">
                  <li><a ui-sref="categories">Enabled categories</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Navigation</li>                  
                  <li><a href="#start">Start page</a></li>
                </ul>
              </li>
						
						
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
		
		
		<div class="list-group" infinite-scroll="remoteList.nextPage()" infinite-scroll-disabled="!remoteList.shouldLoad()">
			<a ui-sref="notes.detail({noteId: note.id})" class="list-group-item" ng-repeat="note in remoteList.items">				
				<span style="float:right;color:#777777;font-style:italic">{{note.mtime * 1000| date:'medium'}}</span>
				<h4 class="list-group-item-heading">{{note.name}}</h4>
				
				<p class="list-group-item-text">
					<i ng-if="note.encrypted" class="fa fa-lock" style="margin-right:10px;"></i>{{note.excerpt}}
				</p>
			</a>
		</div>


<!--		<table ng-table="tableParams" class="table" style="margin-top:70px;">
			<tr ng-repeat="note in $data" infinite-scroll="loadMore()" infinite-scroll-distance="2">
				<td data-title="'Name'">
					<a ui-sref="notes.detail({noteId: note.id})">{{note.name}}</a>
				</td>
				<td data-title="'Modified at'">
					{{note.mtime * 1000| date:'medium'}}
				</td>
			</tr>
		</table>-->
	</div>

	<div ui-view></div>





