
<div ng-include="'partials/header.html'"></div>


<!-- Start of list panel with toolbar -->
<div class="go-list-wrap">

	<div class="go-list-toolbar">
		<ul class="go-toolbar-right">
			<li>
				<a ui-sref="notes.edit({noteId: 0})">
					<span class="glyphicon glyphicon-plus"></span>
				</a>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i></a>
				<ul class="dropdown-menu dropdown-menu-right">
					<li><a ui-sref="categories">Enabled categories</a></li>            
					<!--<li><a ng-click="store.multiselect();TODO">Enable checkboxes</a></li>-->
				</ul>
			</li>
		</ul>

	</div>

	<div class="go-list list-group" go-infinite-scroll="store.nextPage()" go-infinite-scroll-disabled="!store.shouldLoad()">

		<a ui-sref="notes.detail({noteId: note.id})" class="list-group-item" ng-repeat="note in store.items">				
			<span class="go-list-date">{{note.mtime * 1000| date:'short'}}</span>
			<h4 class="list-group-item-heading">{{note.name}}</h4>

			<p class="list-group-item-text">
				<i ng-if="note.encrypted" class="fa fa-lock" style="margin-right:10px;"></i>{{note.excerpt}}
			</p>
		</a>
		
	</div>


</div>