
<div class="go-toolbar">
	<div class="go-toolbar-container">
		<ul class="go-toolbar-left">

			<li class="visible-xs" style="float:left">
				<a class="btn btn-default" ui-sref="^">				
					<span class="glyphicon glyphicon-step-backward"></span> {{'Back' | t}}
				</a>
			</li>
			<li class="dropdown go-icon-buttton" >
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-flag"></i></a>
				<ul class="dropdown-menu ">
					<li>
						<a ng-click="toggleMessageFlag('seen')">
							<span ng-if="!message.attributes.seen">{{"Mark as read" | t}}</span>
							<span ng-if="message.attributes.seen">{{"Mark as unread" | t}}</span>
						</a>
					</li>    
					<li>
						<a ng-click="toggleMessageFlag('flagged')">
							<span ng-if="!message.attributes.flagged">{{"Set flag" | t}}</span>
							<span ng-if="message.attributes.flagged">{{"Remove flag" | t}}</span>
						</a>
					</li> 
				</ul>
			</li>
		</ul>
		<ul class="go-toolbar-right">
			<li>
				<a class="btn btn-danger" style="float:right;" ng-click="message.delete(message.attributes.subject);">
					<span class="glyphicon glyphicon-trash"></span> {{'Delete' | t}}
				</a>
			</li>
		</ul>
	</div>
	
	<div class="em-headers">
		<div class="em-header">{{"From" | t}}: {{message.attributes.from}}</div>		
		<div class="em-header">{{"To" | t}}: <span ng-repeat="address in message.attributes.to">{{address.personal}}</span></div>


		<h1 class="em-header">{{message.attributes.subject}}</h1 class="em-header">
	</div>
	
	<div ng-if="message.attributes.attachments.length" class="em-attachments">
		
		<a ng-repeat="attachment in message.attributes.attachments" href="{{attachment.url}}" target="_blank">
			{{attachment.name}} ({{attachment.size | bytes}})
		</a>				 
		
		<div style="clear:both"></div>
	</div>

	<div ng-bind-html='message.attributes.htmlbody'></div>			
	


